extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	link(href='/libs/magnific-popup/dist/magnific-popup.css', rel='stylesheet')

block content
	// ==============================================================
	// Bread crumb and right sidebar toggle
	// ==============================================================
	.page-breadcrumb
		.row
			.col-12.d-flex.no-block.align-items-center
				h4.page-title Full Width
				.ml-auto.text-right
					nav(aria-label='breadcrumb')
						ol.breadcrumb
							li.breadcrumb-item
								a(href='#') Home
							li.breadcrumb-item.active(aria-current='page') Library
	// ==============================================================
	// End Bread crumb and right sidebar toggle
	// ==============================================================
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row.el-element-overlay
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img1.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img1.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img2.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img2.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img3.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img3.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img4.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img4.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img3.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img3.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img5.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img5.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img6.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img6.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img1.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img1.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img1.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img1.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img2.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img2.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img3.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img3.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
			.col-lg-3.col-md-6
				.card
					.el-card-item
						.el-card-avatar.el-overlay-1
							img(src='/images/big/img4.jpg', alt='user')
							.el-overlay
								ul.list-style-none.el-info
									li.el-item
										a.btn.default.btn-outline.image-popup-vertical-fit.el-link(href='/images/big/img4.jpg')
											i.mdi.mdi-magnify-plus
									li.el-item
										a.btn.default.btn-outline.el-link(href='javascript:void(0);')
											i.mdi.mdi-link
						.el-card-content
							h4.m-b-0 Project title
							span.text-muted subtitle of project
		// ==============================================================
		// End PAge Content
		// ==============================================================
		// ==============================================================
		// Right sidebar
		// ==============================================================
		// .right-sidebar
		// ==============================================================
		// End Right sidebar
		// ==============================================================
	// ==============================================================
	// End Container fluid
	// ==============================================================
	// ==============================================================
	// footer
	// ==============================================================
	footer.footer.text-center
		| All Rights Reserved by #{sails.config.globals.customer_name} Designed and Developed by 
		a(href='https://mobigic.com') Mobigic Technologies Pvt Ltd
		| .
	// ==============================================================
	// End footer
	// ==============================================================

block specific-js
	// this page js
	script(src='/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
	script(src='/libs/magnific-popup/meg.init.js')
	script(type='text/javascript').